<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    {{>nav}}
    <div class="container">
        <h1>About Page</h1>
        <img src="/imgs/star.jpg" alt="stars">
        <p>Bacon ipsum dolor amet pig sausage sirloin picanha corned beef shankle. Landjaeger turkey tenderloin pork
            chop
            salami rump. Burgdoggen chislic turkey pork loin t-bone short loin cow beef swine frankfurter porchetta pork
            belly hamburger andouille tri-tip. Capicola pork chop kielbasa, drumstick sausage picanha prosciutto
            frankfurter
            pig t-bone kevin salami rump. Ham hock salami meatball tri-tip. Biltong boudin drumstick chuck flank pork.
            Bacon
            drumstick ham hock shoulder jowl kielbasa cow prosciutto ham burgdoggen sirloin biltong ground round cupim
            pork.
        </p>
        <p>Short ribs venison pork jerky leberkas shoulder beef rump turducken filet mignon pig pancetta picanha ham.
            Venison spare ribs pancetta leberkas hamburger. Shank chicken pastrami beef turducken prosciutto pig cupim
            jerky
            sausage meatloaf pork loin kevin beef ribs. Ham capicola chicken porchetta landjaeger tenderloin picanha.
            Pork
            chop pancetta brisket cow, turducken chuck porchetta pig. Bresaola frankfurter shankle, tri-tip venison pig
            salami.</p>
        <p>Salami turducken kielbasa, spare ribs t-bone chuck corned beef frankfurter turkey biltong sirloin meatball
            cow.
            Filet mignon t-bone ground round corned beef ribeye pork loin drumstick tongue pork belly porchetta buffalo
            meatball chuck. Brisket spare ribs bacon chislic biltong, filet mignon beef ribs rump beef chuck. Pork chop
            hamburger leberkas rump kevin pastrami tri-tip.</p>
        <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
    </div>
    {{>footer}}

</body>

</html>