<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    {{>nav}}
    <div class="container">
        <h1>Help Page</h1>
        <p>Press h1 for help and please contact 03 9824 3659 for switch borad servers.</p>
    </div>
    {{>footer}}

</body>

</html>