<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    {{>nav}}
    <div class="container">
        <h1>Home Page</h1>
        <h3>Find out your weather in this website</h3>
    </div>
    {{>footer}}

</body>

</html>